@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    background: linear-gradient(45deg, #08041d, #200852);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 160px;
}

h2 {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border: 3px solid #3db1ff;
    box-shadow: 0 0 100px 1px #3db1ff;
}

.square {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 3px solid #3db1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    color: white;
}

#restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3db1ff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(61, 177, 255, 0.4);
    transition: background-color 0.3s ease;
}

#restartBtn:hover {
    background-color: #3399dd;
}
